@font-face {
    font-family: "Fraunces";
    src: url(./fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: "Barlow";
    src: url(./fonts/Barlow/Barlow-Medium.ttf);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 5219px;
    background-color: rgb(93, 93, 93);
}

#headerContainer {
    
    width: 100vw;
    height: 500px;
    background-image: url(./images/mobile/image-header.jpg);
    background-position: 50% 100%;
    background-size: cover;
    padding: 30px;
}

#logoAndMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 28vw;
}

nav {
    display: none;
}

#textAndArrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
    font-family: "fraunces", sans-serif;
    font-weight: 900;
    font-size: 9vw;
    letter-spacing: 8px;
    margin-top: 70px;
}

#arrow {
    width: 29px;
    margin-top: 68px;
}

#transfromAndEgg {
    display: flex;
    flex-direction: column;
}

#egg, #transform {
    width: 100vw;
}

#egg {
    height: 340px;
    background-image: url(./images/mobile/image-transform.jpg);
    background-position: 50% 100%;
    background-size: cover;
}

#transform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 460px;
    background-color: white;
    padding: 34px;
    text-align: center;
}

#transformTitle {
    font-family: "fraunces", sans-serif;
    font-size: 8vw;
    font-weight: 900;
    margin-top: 30px;
}

#transformParaghraph {
    font-family: "Barlow", sans-serif;
    font-size: 4.6vw;
    font-weight: 500;
    color: hsl(232, 10%, 55%);
    line-height: 26px;
}

#transformMore {
    font-family: "fraunces", sans-serif;
    font-size: 4vw;
    font-weight: 700;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

#yellowLine {
    position: relative;
    top: -77px;
    width: 35vw;
    height: 10px;
    background-color: hsla(51, 100%, 49%, 0.322);
    border-radius: 10px;
}















@media (min-width: 376px) {

    body {
        height: 4174px;
    }
    
    #headerContainer {
        background-image: url(./images/desktop/image-header.jpg); 
        height: 20vh;
        padding: 50px;
    }

    #logoAndMenu {
        height: 22px;
    }

    #logo {
        width: 14vw;
    }

    #hamburger {
        display: none;
    }

    nav {
        display: block;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 32vw;
        padding-right: 30px;
        list-style: none;
        font-family: Barlow;
    }

    li {
        font-size: 1.5vw;
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
    }

    li:hover {
        font-size: 1.2vw;
        color: black;
        background-color: white;
        border: 22px solid white;
        background-position: center;
        border-radius: 30px;
        font-family: "Fraunces", sans-serif;
        font-weight: 700;
        margin-top: -22px
    }

    h1 {
        font-size: 4vw;
        letter-spacing: 12px;
        margin-top: 130px;
    }

    #arrow {
        width: 36px;
        margin-top: 100px;
    }

    #transfromAndEgg {
        display: flex;
        flex-direction: row-reverse;
    }

    #egg, #transform {
        width: 50vw;
        height: 600px;
    }
    
    #egg {
        background-image: url(./images/desktop/image-transform.jpg);
        background-position: center;
        background-size: cover;
    }

    #transform {
        padding: 94px;
        text-align: left;
        align-items: flex-start;
    }

    #transformTitle {
        font-size: 3vw;
        padding-right: 30px;
        letter-spacing: 1.5px;
    }
  
    #transformParaghraph {
        font-size: 1.5vw;
        line-height: 2.4vw;
        margin-top: 30px;
    }

    #transformMore {
        font-size: 1.4vw;
        margin-top: 40px;
    }

    #yellowLine {
        top: -50px;
        left: -6px;
        width: 11.4vw;
        height: 10px;
        border-radius: 10px;
    }
        
}