.containerRojo {
    background-color: red;
    width: 300px;
    height: 300px;
}

.newContainerRojo {
    background-color: blue;
    width: 300px;
    height: 300px;
    
}

button {
    margin-top: 20px;
    width: 300px;
    height: 30px;
    background-color: rgb(65, 65, 65);
    color: white;
}

.hidden {
    display: none;
}