@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
}

.principalContainer {
    width: 340px;
    height: 90vh;
    margin: 0 auto;
}

.containerRight {
    width: 100%;
    height: 38%;
}

.containerLeft {
    width: 100%;
    height: 70%;
}

.hidden {
    display: none;
}

h1 {
    margin-top: 20px;
    margin-left: 22px;
    font-size: 35px;
    font-weight: 700;
}

.parrafo {
    margin-top: 25px;
    margin-left: 22px;
    padding-right: 20px;
    line-height: 20px;
}

ul {
    margin-top: 45px;
    margin-left: 22px;
    padding-right: 20px;
}

li {
    background: url("./assets/images/icon-list.svg") no-repeat 0px 0px transparent;
    list-style-type: none;
    margin-top: 30px;
    padding: 0px 0px 0px 40px;
    height: 33px;
}

.mail {
    margin-top: 25px;
    margin-left: 22px;
    font-size: 12px;
    font-weight: 700;
}

input {
    display: block;
    border: 1px solid hsla(231, 7%, 60%, 0.416);
    border-radius: 5px;
    width: 90%;
    height: 60px;
    margin: 20px auto;
    padding-left: 20px;
    font-size: 14px;
}

button {
    display: block;
    background-color: hsl(234, 29%, 20%);
    color: white;
    border-radius: 5px;
    border: none;
    width: 90%;
    height: 60px;
    font-size: 12px;
    text-align: center;
    margin: 20px auto;
}

.secondContainer {
    width: 340px;
    height: 90vh;
    margin: 0 auto;
}

.icon {
    margin: 140px 0px 18px 22px;
}

.parrafoTwo {
    margin-top: 25px;
    margin-left: 22px;
    padding-right: 20px;
    line-height: 25px;
}

#buttonTwo {
    position: absolute;
    bottom: 30px;
}


@media screen and (min-width: 376px) {
    
    body{
        background-color: hsl(234, 29%, 20%);
    }
    .principalContainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 70vw;
        height: 65vh;
        padding: 30px;
    }

    .secondContainer {
        position: relative;
        top: 25%;
        width: 40vw;
        height: 55vh;
        background-color: white;
        padding: 0px;
        border-radius: 30px;
        margin: 0 auto;
    }

    .hidden {
        display: none;
    }

    .containerLeft {
        background-color: white; 
        height: 65vh;
        border-radius: 40px 0 0 40px;
        margin-top: 18%;
    }

    .containerRight {
        background-color: white; 
        height: 65vh;
        border-radius: 0 40px 40px 0;
        margin-top: 18%;
    }

    .icon {
        margin: 40px 0px 18px 52px;
    }

    .stay {
        margin-top: 80px;
        margin-left: 52px;
        font-size: 60px;
    }

    h1 {
        margin-top: 20px;
        margin-left: 52px;
        font-size: 60px;
    }

    .parrafo {
        margin-top: 15px;
        margin-left: 52px;
        line-height: 30px;
        font-size: 18px;

    }

    .parrafoTwo {
        width: 70%;
        margin-top: 25px;
        margin-left: 52px;
        margin-right: 52px;
        padding-right: 0px;
        line-height: 30px;
        font-size: 18px;
    }

    ul {
        font-size: 18px;
        margin-top: 20px;
        margin-left: 52px;
    }
    li {
        margin-top: 5px;
        
    }

    .mail {
        margin-top: 20px;
        margin-left: 52px;
        font-size: 20px;
        font-weight: 700;
    }

    input {
        width: 85%;
        height: 90px;
        margin: 15px 20px 20px 52px;
        padding-left: 40px;
        font-size: 24px;
    }

    button {
        width: 85%;
        height: 90px;
        font-size: 20px;
        margin: 15px 20px 20px 52px;
    }

    #buttonTwo {
        position: absolute;
        bottom: 30px;
        left: -10px;
    }

    .containerLeft {
        background-color: #ffffff;
        
    }
} 




