@font-face {
    font-family: "Poppins";
    src: url(/assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(/assets/fonts/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(/assets/fonts/Poppins-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(0, 0%, 94%);
}

.principalContainer {
    display: grid;
    width: 350px;
    height: 450px;
    margin: 70px auto 0;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px 25px 100px 25px;
    padding: 25px;
}

.dateContainer {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

.dayContainer, .monthContainer, .yearContainer {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 70px;
   
}