@font-face {
    font-family: "Poppins";
    src: url(/assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(/assets/fonts/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(/assets/fonts/Poppins-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(0, 0%, 94%);
    font-family: "Poppins", sans-serif;
}

.principalContainer {
    display: grid;
    width: 350px;
    height: 550px;
    margin: 70px auto 0;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px 25px 100px 25px;
    padding: 25px 25px 0px;
}

.dateContainer {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 30px;
}

.dayContainer, .monthContainer, .yearContainer {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 80px;
}

.dayMonthYear {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: hsl(0, 1%, 44%);
    
}

input {
    position: relative;
    border: 1px solid hsl(0, 0%, 86%);
    width: 90px;
    height: 65px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 800;
    padding-left: 15px;
    margin-top: 5px;
    color: hsl(0, 0%, 8%);
}

.midContainer {
    position: relative;
}

.circle {
    position: absolute;
    top: 0%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: hsl(259, 100%, 65%);
}

svg {
    width: 45%;
    height: 45%;
    margin: 0 auto;
}

hr {
    width: 100%;
    border: none;
    border-top: 2px solid hsl(0, 0%, 86%) 
}

.bigLetters {
    
    font-size: 60px;
    font-style: italic;
    font-weight: 800;
    line-height: 70px;
}

span {
    color: hsl(259, 100%, 65%)
}




