@font-face {
    font-family: "Rubik";
    src: url(./fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(226, 43%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rubik";
    font-size: 18px;
}

#principalContainer {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 1400px;
}

#profileContainer {
    position: relative;
    width: 340px;
    height: 130px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: hsl(246, 80%, 60%);
    border-radius: 20px;
}

#profileContainer::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: -50px;
    left: 0px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
    z-index: -1;
}

section {
    display: flex;
    flex-direction: column;
}

.smallContainers {
    position: relative;
    width: 340px;
    height: 130px;
    margin-top: 60px;
    padding:20px;
    color: white;
    background-color: hsl(235, 45%, 61%);
    border-radius: 20px;
}

.smallContainers::before {
    content: "";
    position: absolute;
    top: -40px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: red;
    border-radius: 20px;
    z-index: -1;
}

#workContainer::before {
    background-color: hsl(15, 100%, 70%);
    background-image: url(./images/icon-work.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 15px);
    background-position-y: calc(0% - 9px); 
}

#playContainer::before {
    background-color: hsl(195, 74%, 62%);
    background-image: url(./images/icon-play.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 15px);
    background-position-y: calc(0% - 9px); 
}

#studyContainer::before {
    background-color: hsl(348, 100%, 68%);
    background-image: url(./images/icon-study.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 15px);
    background-position-y: calc(0% - 9px); 
}

#exerciseContainer::before {
    background-color: hsl(145, 58%, 55%);
    background-image: url(./images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 15px);
    background-position-y: calc(0% - 9px); 
}

#socialContainer::before {
    background-color: hsl(264, 64%, 52%);
    background-image: url(./images/icon-social.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 15px);
    background-position-y: calc(0% - 9px); 
}

#selfCareContainer::before {
    background-color: hsl(43, 84%, 65%);
    background-image: url(./images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 15px);
    background-position-y: calc(0% - 9px); 
}

.titlesAndPoints {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.points {
    letter-spacing: 2px;
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    font-size: 18px;

}

.hrs {
    font-size: 38px;
    font-weight: 300;
}

.lastweek {
    font-size: 16px;
}

@media (min-width: 376px) {
    
    #principalContainer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80vw;
    }

    #profileContainer {
        margin-top: 10px;
        width: 230px;
        height: 300px;
        margin-top: -70px;
        border-radius: 15px;
    }

    #profileContainer::before {
        border-radius: 15px;
        bottom: -142px;
    }

    .smallContainers {
        width: 230px;
        height: 170px;
        margin-left: 20px;
        border-radius: 15px;
    }

    .smallContainers::before {
        border-radius: 15px;
    }

    .time {
        flex-direction: column;
        margin-top: 20px;
        align-items: flex-start;
    }

    .hrs {
        font-size: 46px;
    }

    .lastweek {
        margin-top: 5px;
        font-size: 12px;
        font-weight: 300;
    }
}