* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(226, 43%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#principalContainer {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 1400px;
    background-color: darkorchid;
}

#profileContainer {
    width: 340px;
    height: 160px;
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
}

section {
    display: flex;
    flex-direction: column;
}

.smallContainer {
    width: 340px;
    height: 160px;
    margin-top: 30px;
    background-color: hsl(235, 45%, 61%);
    border-radius: 10px;
}

@media (min-width: 376px) {
    
    #principalContainer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 64vh;
    }

    #profileContainer {
        width: 230px;
        height: 350px;
    }

    .smallContainer {
        width: 230px;
        margin-left: 20px;
    }

}