@font-face {
    font-family: 'KumbhSans';
    src: url(fonts/KumbhSans-Bold.ttf),
    url(fonts/KumbhSans-Medium.ttf);
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    font-family: 'KumbhSans', sans-serif;
}

.containsAll {
    margin-top: 40px;
    display: grid;
    place-items: center;
}

img:nth-child(1) {
    width: 250px;
    z-index: 1
}
img:nth-child(2) {
    position: relative;
    top: -75px;
    width: 250px;
    z-index: 1
}

.containerBackground {
    position: absolute;
    top: 153px;
    width: 340px;
    height: 75%;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 20px;
    z-index: -1
}

.container {
    position: relative;
    top: 70px;
    width: 300px;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px; 
}

.question {
    display: flex;
}

h3 {
    font-size: 12px;
    color: hsl(237, 12%, 33%);
}

p {
    font-size: 10px;
    color: hsl(240, 6%, 50%);
} 






