@font-face {
    font-family: "Epilogue";
    src: url(./fonts/Epilogue-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Epilogue", sans-serif;
    font-size: 12px;
}

