@font-face {
    font-family: "Epilogue";
    src: url(./fonts/Epilogue-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
}

header, .principalContainer, .rightContainer, .leftContainer, .footer {
    width: 375px;
}

header, .footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.rightContainer, .leftContainer {
    margin-top: 20px;
}

header, .principalContainer{
    margin: 20px auto 0;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 32px;
}

p {
    margin-top: 16px;
    color: hsl(0, 0%, 41%);
    text-align: center;
    line-height: 24px;
}

.learnButton {
    margin-top: 20px;
    background-color: black;
    font-size: 16px;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.principalImage, .logos {
    width: 375px;
}

.logos {
    object-fit: contain;
}





